<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qidian.mall.user.mapper.SysSourceMapper">
  <resultMap id="BaseResultMap" type="com.qidian.mall.user.entity.SysSource">
    <!--@mbg.generated-->
    <!--@Table sys_source-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="source_name" jdbcType="VARCHAR" property="sourceName" />
    <result column="source_code" jdbcType="VARCHAR" property="sourceCode" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="parent_name" jdbcType="VARCHAR" property="parentName" />
    <result column="source_type" jdbcType="INTEGER" property="sourceType" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="show_flag" jdbcType="CHAR" property="showFlag" />
    <result column="delete_flag" jdbcType="CHAR" property="deleteFlag" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, source_name,source_code, parent_id, parent_name, source_type, url, sort, show_flag, delete_flag,
    version, create_user, create_time, update_user, update_time
  </sql>
  <sql id="select_column_list">
        t.id,t.source_name,t.source_code,t.parent_id,t.parent_name,t.source_type,t.url,t.sort,t.show_flag,t.delete_flag,t.version,t.create_user,
    t.create_time,t.update_user,t.update_time
  </sql>

  <!--获取角色得资源列表-->
    <select id="getSourceListByRoleId" resultMap="BaseResultMap" parameterType="java.lang.Long">
      select <include refid="select_column_list"/>
      from sys_source t
      left join sys_role_source srs on t.id = srs.source_id
      left join sys_role r on srs.role_id = r.id
      where r.id=#{roleId} and t.delete_flag='N' and r.delete_flag='N'
    </select>

  <select id="getSourceListByRoleIds" resultMap="BaseResultMap" parameterType="java.util.List">
    select <include refid="select_column_list"/>
    from sys_source t
    left join sys_role_source srs on t.id = srs.source_id
    left join sys_role r on srs.role_id = r.id
    where r.id in
    <foreach collection="list" item="roleId" index="index" open="(" close=")" separator=",">
      #{roleId}
    </foreach>
    and t.delete_flag='N' and r.delete_flag='N'
  </select>


  <select id="getSourceVoListByRoleIds" resultType="com.qidian.mall.user.response.RoleSourceVo" parameterType="java.util.List">
    select t.id,t.source_name sourceName,t.source_code sourceCode
    from sys_source t
    left join sys_role_source srs on t.id = srs.source_id
    left join sys_role r on srs.role_id = r.id
    where r.id in
    <foreach collection="list" item="roleId" index="index" open="(" close=")" separator=",">
      #{roleId}
    </foreach>
    and t.delete_flag='N' and r.delete_flag='N'
  </select>

    <select id="getSourceListByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select DISTINCT <include refid="select_column_list"></include>
        from sys_source t
        left join sys_role_source srs on t.id = srs.source_id
        left join sys_role r on srs.role_id = r.id
        left join sys_user_role  ur on ur.role_id = r.id
        left join sys_user u on u.id = ur.user_id
      where u.id=#{userId} and t.delete_flag='N' and r.delete_flag='N' and u.delete_flag='N'
    </select>
</mapper>